<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.EbookMapper">
    <select id="getEbookList" resultType="com.example.demo.Entity.EBook">
        SELECT * FROM ebook
    </select>

    <select id="getEbookListByName" resultType="com.example.demo.Entity.EBook">
        SELECT * FROM ebook
        <where>
            <!-- 名称模糊查询 -->
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <!-- ID精确查询 -->
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>

    <insert id="addEbook" parameterType="com.example.demo.req.EBookReq">
        INSERT INTO ebook (name, category1_id, category2_id, description, cover, doc_count, view_count, vote_count)
        VALUES (#{name}, #{category1_id}, #{category2_id}, #{description}, #{cover}, #{doc_count}, #{view_count}, #{vote_count})
    </insert>

    <delete id="deleteEbook" parameterType="com.example.demo.req.EBookReq">
        DELETE FROM ebook WHERE id = #{id}
    </delete>

    <update id="editBook" parameterType="com.example.demo.req.EBookReq">
        UPDATE ebook
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="category1_id != null">
                category1_id = #{category1_id},
            </if>
            <if test="category2_id != null">
                category2_id = #{category2_id},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="cover != null and cover != ''">
                cover = #{cover},
            </if>
            <if test="doc_count != null">
                doc_count = #{doc_count},
            </if>
            <if test="view_count != null">
                view_count = #{view_count},
            </if>
            <if test="vote_count != null">
                vote_count = #{vote_count},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>